
.top{
    width:99vw;
    background-color:black;
    display:flex;
    justify-content:space-around;
    height:40px;
    padding:2px;
    div{
 img{

     filter: invert(40);
     height:35px;
     
    }
     
        }
}
       
    